*{
    box-sizing: inherit;
   
}

html{
    width: 100%;
    height: 100%;
    font-size: 62.5%;
    font-size: 1.6rem;
    line-height: 1.6rem;
    box-sizing: border-box;
    font-family: 'Roboto',sans-serif;
}

span{
    font-family: 'Roboto',sans-serif;
    margin: 0;
}
h1{
  margin: 0;
}

.chat{
    width: 100%;
}


.hide{
  display: none;
}


.body{
  display: flex;
}